<?xml version="1.0"?>
<config>
    <modules>
        <LCB_NotifyStock>
            <version>1.0.0</version>
        </LCB_NotifyStock>
    </modules>
    <global>
        <blocks>
            <lcb_notifystock>
                <class>LCB_NotifyStock_Block</class>
            </lcb_notifystock>
        </blocks>
        <helpers>
            <lcb_notifystock>
                <class>LCB_NotifyStock_Helper</class>
            </lcb_notifystock>
        </helpers>
        <models>
            <lcb_notifystock>
                <class>LCB_NotifyStock_Model</class>
                <resourceModel>lcb_notifystock_resource</resourceModel>
            </lcb_notifystock>
            <lcb_notifystock_resource>
                <class>LCB_NotifyStock_Model_Resource</class>
                <entities>
                    <subscriber>
                        <table>lcb_notifystock_subscriber</table>
                    </subscriber>
                </entities>
            </lcb_notifystock_resource>
        </models>
        <resources>
            <lcb_notifystock_setup>
                <setup>
                    <module>LCB_NotifyStock</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </lcb_notifystock_setup>
        </resources>
        <events>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <lcb_notifystock_stock_change>
                        <class>lcb_notifystock/observer</class>
                        <method>stockChange</method>
                    </lcb_notifystock_stock_change>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
        <template>
            <email>
                <notifystock_subscriber_template translate="label" module="lcb_notifystock">
                    <label>Back in stock info</label>
                    <file>notifystock.html</file>
                    <type>html</type>
                </notifystock_subscriber_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <lcb_notifystock>
                    <file>lcb_notifystock.xml</file>
                </lcb_notifystock>
            </updates>
        </layout> 
        <translate>
            <modules>
                <lcb_notifystock>
                    <files>
                        <default>LCB_NotifyStock.csv</default>
                    </files>
                </lcb_notifystock>
            </modules>
        </translate>
        <routers>
            <lcb_notifystock>
                <use>standard</use>
                <args>
                    <module>LCB_NotifyStock</module>
                    <frontName>notifystock</frontName>
                </args>
            </lcb_notifystock>
        </routers>
    </frontend>
    <admin>
        <routers>
            <lcb_notifystock>
                <use>admin</use>
                <args>
                    <module>LCB_NotifyStock</module>
                    <frontName>lcb_notifystock</frontName>
                </args>
            </lcb_notifystock>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lcb_notifystock>
                    <file>lcb_notifystock.xml</file>
                </lcb_notifystock>
            </updates>
        </layout>
        <translate>
            <modules>
                <lcb_notifystock>
                    <files>
                        <default>LCB_NotifyStock.csv</default>
                    </files>
                </lcb_notifystock>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sales_email>
            <notifystock>
                <subscriber_template>notifystock_subscriber_template</subscriber_template>
            </notifystock>
        </sales_email>
    </default>
</config>
